In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as px

In [2]:
df = pd.read_csv('/Users/Marcy_Student/Desktop/marcy/Emergency_Department_Visits_and_Admissions_for_Influenza-like_Illness_and_or_Pneumonia_20250714.csv')
pd.set_option("display.float_format", "{:.2f}".format)
pd.set_option("display.expand_frame_repr", False)
pd.set_option("display.max_rows", 100)
df

/var/folders/bs/gtwb0lj97nb4v95968dmfzww0000gp/T/ipykernel_63515/59734528.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/Marcy_Student/Desktop/marcy/Emergency_Department_Visits_and_Admissions_for_Influenza-like_Illness_and_or_Pneumonia_20250714.csv')

                            extract_date        date mod_zcta  total_ed_visits  ili_pne_visits  ili_pne_admissions
0                             12/05/2022  03/01/2020    11692            16.00            2.00                0.00
1                             12/05/2022  03/01/2020    10075            24.00            0.00                0.00
2                             12/05/2022  03/01/2020    11427            18.00            0.00                0.00
3                             12/05/2022  03/01/2020    11224            72.00            2.00                1.00
4                             12/05/2022  03/01/2020    11419            52.00            5.00                0.00
...                                  ...         ...      ...              ...             ...                 ...
12872408                      09/12/2022  12/10/2021        {              NaN             NaN                 NaN
12872409                  "error" : true         NaN      NaN              NaN             NaN                 NaN
12872410    "message" : "Internal error"         NaN      NaN              NaN             NaN                 NaN
12872411                  "status" : 500         NaN      NaN              NaN             NaN                 NaN
12872412                               }         NaN      NaN              NaN             NaN                 NaN

[12872413 rows x 6 columns]

In [4]:
# changing the data type of dates and extract date to datetime
df.dtypes
df['extract_date']=pd.to_datetime(df['extract_date'],errors='coerce')
df['date']= pd.to_datetime(df['date'], errors='coerce')

In [5]:
#checking for NA values and removing them
df.isnull().sum()
df.isna().sum()
df = df.dropna()
df.isnull().sum()

extract_date          0
date                  0
mod_zcta              0
total_ed_visits       0
ili_pne_visits        0
ili_pne_admissions    0
dtype: int64

In [9]:
# convert the ili_pne_visits and ili_pne_admissions to integers
df[['ili_pne_visits','ili_pne_admissions','total_ed_visits']] = df[['ili_pne_visits','ili_pne_admissions','total_ed_visits']].astype(int)
df.dtypes

/var/folders/bs/gtwb0lj97nb4v95968dmfzww0000gp/T/ipykernel_87949/206825646.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['ili_pne_visits','ili_pne_admissions','total_ed_visits']] = df[['ili_pne_visits','ili_pne_admissions','total_ed_visits']].astype(int)

extract_date          datetime64[ns]
date                  datetime64[ns]
mod_zcta                      object
total_ed_visits                int64
ili_pne_visits                 int64
ili_pne_admissions             int64
dtype: object

In [ ]:
# check for duplicates
df.duplicated().sum()
# No

np.int64(0)

In [ ]:
#df.to_csv('Cleaned data.csv')